language: java
jdk:
  - oraclejdk7
  - oraclejdk8
  - openjdk7

install: true

script: 
- mvn -fn -e clean install -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true -Dmaven.wagon.http.ssl.ignore.validity.dates=true
