<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql:geoxygenehibernate</property>
        <property name="hibernate.connection.username">postgres</property>
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
		<!-- SPATIAL SQL dialect -->
        <property name="dialect">org.hibernatespatial.postgis.PostgisDialect</property>
        
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property> 
        <!-- <property name="hbm2ddl.auto">create</property> -->
        
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Flight"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.ParisNewYork"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.ParisBarcelone"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Plane"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.A320"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Boeing747"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Boat"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Ferry"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.AmericaCupClass"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Bird"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Goose"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Pigeon"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Hunter"/>
		<mapping resource="fr/ign/cogit/geoxygene/example/hibernate/BirdInterface.hbm.xml"/>
		<mapping resource="fr/ign/cogit/geoxygene/example/hibernate/Mammal.hbm.xml"/>

        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Point_eau"/>
        <mapping class="fr.ign.cogit.geoxygene.example.hibernate.Troncon_cours_eau"/>

    </session-factory>
</hibernate-configuration>
