<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<!-- ========================================================================== -->
	<!-- 	The PPIO -->
	<!-- ========================================================================== -->
	<bean id="NetworkDataMatchingResultPPIO" 
			class="fr.ign.cogit.process.geoxygene.netmatching.ppio.NetworkDataMatchingResultPPIO" />
	
	<bean id="ParamDistanceNetworkDataMatchingPPIO"
	       class="fr.ign.cogit.process.geoxygene.netmatching.ppio.ParamDistanceNetworkDataMatchingPPIO" />

    <bean id="CarteTopoResultPPIO"
           class="fr.ign.cogit.process.geoxygene.cartetopo.ppio.CarteTopoResultPPIO" />


    <!-- ========================================================================== -->
    <!--    The Filtering processes -->
    <!-- ========================================================================== -->
    <bean id="geoxygeneFilter" class="fr.ign.cogit.process.geoxygene.GeoxygeneFilter" />

</beans>