<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <!-- ========================================================================== -->
    <!--    Processes -->
    <!-- ========================================================================== -->
    <bean id="importCarteTopoProcess" class="fr.ign.cogit.process.geoxygene.cartetopo.ImportCarteTopoProcess">
      <constructor-arg index="0" ref="catalog"/>
    </bean>
	
	<!-- ========================================================================== -->
	<!-- 	The PPIO -->
	<!-- ========================================================================== -->
    <bean id="ParametersNetworkMatchingPPIO"
            class="fr.ign.cogit.process.geoxygene.netmatching.ppio.ParametersNetworkMatchingPPIO" />
           
    <bean id="NetworkDataMatchingResultPPIO" 
            class="fr.ign.cogit.process.geoxygene.netmatching.ppio.NetworkDataMatchingResultPPIO" />

    <bean id="CarteTopoPPIO" class="fr.ign.cogit.process.geoxygene.ppio.CarteTopoPPIO" />

    <!-- ========================================================================== -->
    <!--   The Filtering processes -->
    <!-- ========================================================================== -->
    <bean id="geoxygeneFilter" class="fr.ign.cogit.process.geoxygene.GeoxygeneFilter" />

</beans>