<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!-- <property name="hibernate.connection.url">jdbc:postgresql:geoxygenehibernate</property> -->
        <!-- <property name="hibernate.connection.url">jdbc:postgresql://del1109s019:5432/dbunit</property> -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/dbunit</property>
        <property name="hibernate.connection.username">dbunit</property>
        <property name="hibernate.connection.password">dbunit</property>
        
		<!-- SPATIAL SQL dialect -->
        <property name="dialect">org.hibernatespatial.postgis.PostgisDialect</property>
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
        
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property> 
        <!-- <property name="hbm2ddl.auto">create</property> -->
        
        <!-- Schema par defaut -->
        <property name="hibernate.default_schema">contrib</property>


		<!-- Mapping -->
		<mapping class="fr.ign.cogit.geoxygene.contrib.cartetopo.data.Roads" />
  
        

    </session-factory>
</hibernate-configuration>
