<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
   | For more configuration information and examples see the Jakarta Log4j
   | website: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="all">

	<!-- l'appender fichier -->
	<appender name="fichier" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="geoxygene.log"/>
		<param name="Threshold" value="TRACE"/>
		<param name="Append" value="false"/> 
		<param name="MaxFileSize" value="50MB"/>
    	<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p (%F:%M:%L) - %m%n"/>
		</layout>
	</appender>
	
	<!-- l'appender console -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO"/>
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p (%F:%M:%L) - %m%n"/>
		</layout>
	</appender>
	
	<!-- l'appender fichier pour le package datatools-->
	<appender name="datatools" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="ERROR"/>
		<param name="File" value="geoxygene-datatools.log"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p (%F:%M:%L) - %m%n"/>
		</layout>
	</appender>
	
	<!-- appender pour une catégorie, ici pour un package et ses sous-package -->
	<category name="fr.ign.cogit.geoxygene.datatools">
		<!-- <priority value="INFO"/> -->
		<appender-ref ref="datatools"/>
	</category>
	 
	<category name="org.apache.ojb.broker.core">
		<priority value="INFO"/>
		<appender-ref ref="datatools"/>
	</category>

	<category name="org.apache.ojb.broker.metadata">
		<priority value="INFO"/>
		<appender-ref ref="datatools"/>
	</category>
		
	<root>
		<appender-ref ref="fichier"/>
		<appender-ref ref="console"/>
	</root>
	
</log4j:configuration>
